body {
  font-size: 16px;
  color: #fff;
  background-color: #F88017;
  font-family: 'Oxygen', sans-serif;
}
h2{
	font-size: 1.8em;
    font-weight: bold;
    color: #222;
    font-family: 'Oxygen', sans-serif;
    text-align: center;
    padding-top: 25px;
}

/** HEADER **/
#header-nav {
  background-color: #222;
  border-radius: 0;
  border: 0;
}
.navbar-brand {
  padding-top: 25px;
}
.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #F88017;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
#nav-list {
  margin-top: 10px;
}
#nav-list li {
  color: #F88017;
  text-align: center;
}
#nav-list li:hover {
  background: #808080;
}
#nav-list li  {
  font-size: 1.8em;
  text-align: center;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #F88017;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
.panel-footer {
  margin-top: 30px;
  padding-top: 35px;
  padding-bottom: 30px;
  background-color: #222;
  border-top: 0;
}
.panel-footer div.row {
  margin-bottom: 35px;
}
#hours{
  line-height: 2;
}
#hours > span {
  font-size: 1.3em;
}

#testimonials {
  font-style: italic;
}
#testimonials p:nth-child(2) {
  margin-top: 25px;
}
#chicken-tile, #beef-tile, #sushi-tile {
  
  width: 100%;
  margin-bottom: 15px;
  margin-top: 50px;
  position: relative;
  border: 2px solid #3F0C1F;
  background-color: #222;
  padding-top:50px;
  padding-left: 25px;
  padding-right: 25px; 
  overflow: hidden;
}
#chicken-tile:hover, #beef-tile:hover, #sushi-tile:hover {
  box-shadow: 0 1px 5px 1px #cccccc;
}
#chicken-tile span, #beef-tile span, #sushi-tile span {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.6em;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  opacity: .6;
}
/********** Large devices only **********/
@media (min-width: 768px) {

}
@media (max-width: 767px)  and (min-width: 479px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }
  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #xs-deliver {
    margin-top: 5px;
    font-size: .7em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
  /* End Header */

  /* Footer */
  .panel-footer section {
    margin-bottom: 30px;
    text-align: center;
  }
  .panel-footer section:nth-child(3) {
    margin-bottom: 0; /* margin already exists on the whole row */
  }
  .panel-footer section hr {
    width: 50%;
  }
  /* End Footer */

  /* Home Page */
   #chicken-tile, #beef-tile, #sushi-tile{
  	height: 450px;
  	overflow: scroll;
  	margin: 0 auto 15px;
  }
}
@media (max-width: 479px) {
  .navbar-brand h1 { 
    padding-top: 5px;
    font-size: 6vw;
  }
  #chicken-tile, #beef-tile, #sushi-tile {
    width: 280px;
    margin: 0 auto 15px;
  }
  #chicken-tile, #beef-tile, #sushi-tile{
  	height:250px;
  	overflow: scroll;
  }
}